* {
    font-family: sans-serif;
}
 
.animal-card img {
    width: 100%;
    height: 75%;
    border-radius: 31px;
}
 
.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}
 
.menu-icon{
    width: 23px;
}
 
.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}
 
.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}
 
.logo {
    padding-top: 20px;
    width: 330px;
}
 
#adocao {
    color: #06C1D6;
    font-size: 27px;
}
 
.nav-item {
    margin-right: 40px;
    font-size: 23px;
}
 
.card {
    background-color: #d9d9d9;
    width: 30rem;
    border-radius: 31px;
}
 
.card .card-title {
    font-weight: bold;
    font-size:medium ;
}
 
.card .btn {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
}
 
.card img {
    border-radius: 31px;
}
 
.card a {
    border-radius: 31px;
}
 
.btn {
    align-items: center;
}
 
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}


.text {
    transform: translate(0%, -10%);
    text-align: center;
    color: #000;
}
 
.container {
    display: flex;
    flex-direction: column;
}
 
.container h1{
    text-align: center;
}
 
.card-text {
    margin-top: 50px;
}

.rodape {
    background-color: #ccc; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px;
}
 
.rodape .container {
    display: flex;
    justify-content: space-between; /* Alinha os itens no início e no final do rodapé */
    align-items: center; /* Alinha os itens verticalmente */
}
 
.rodape .texto-centralizado {
    text-align: center; /* Centraliza o texto */
    font-size: 15px;
}
 
.rodape .redes-sociais {
    display: flex; /* Utiliza flexbox para alinhar os ícones das redes sociais */
    justify-content: flex-end;
    margin-left:1250px; /* Adiciona margem entre os ícones, se necessário */
    align-items: center;
}
 
.rodape .redes-sociais a {
    margin-right: 10px; /* Adiciona margem entre os ícones */
}
 
.rodape .meus-icons {
    display: flex; /* Utiliza flexbox para alinhar os seus ícones */
    align-items: center;
    margin-right: 1280px;
    margin-left: 100px;
}
 
.iconeFooter{
    transform: translate(-1300px, 0%);
}
 
#alertaSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
#alertaErro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.alignNgmEnd{
    margin-left: 650px;
    width: 300px;
}
.modal-corpo{
    padding: 10px;
    font-size: 16px;
}
.modal-corpo img{
    margin-bottom: 10px;
}
.info a{
    display: block;
    color: #000;
}
.info img{
    width: 35px;
    height: 35px;
}
.modal-content {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 31px;
}
 
.modal-body {
    padding: 0;
}
 
.modal-body .row {
    display: flex;
    height: 100%;
}
 
.modal-body .col-md-6 {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}
 
.modal-body img {
    width: 400px;
    height: 500px;
    display: block;
    border-radius: 31px;
}
 
.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}

/* Estilo para centralizar e redimensionar a imagem dentro do modal */
#modalTreinarPeludinho .modal-body img {
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
}

#modalDiferenca .modal-body img{
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
}

#modalFilhotes .modal-body img{
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
}
 #modalBeneficio .modal-body img{
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
 }

 #modalCachorroDanone .modal-body img {
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
 }

 #modalAntiPulga .modal-body img{
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;
 }

 .modal-body img{
    border: 5px solid rgba(130, 130, 130, 0.833);
 }

.btn-logout {
    background-color: #06C1D6;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 31px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    align-self: flex-start;
}

img {
    max-width: 500px; /* Largura máxima */
    max-height: 200px; /* Altura máxima */
    display: block; /* Para garantir que a margem automática funcione corretamente */
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    border-radius: 0;

}

.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
 
.modal.fade.show {
    display: block;
}
 
.modal-content {
    border-radius: 10px;
}
 
.modal-header {
    padding: 20px;
    border-bottom: 2px solid #747373;
    font-size: 20px;
    font-weight: bold;
}
 
.modal-body {
    padding: 20px;
}