* {
    font-family: sans-serif;
}
 
/* BARRA DE NAVEGAÇÃO */
.btn.btn-custom-entrar {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}

.menu-icon{
    width: 23px;
}
 
.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}
 
#adocao {
    color: #06C1D6;
    font-size: 27px;
}

.nav-item {
    margin-right: 40px;
    font-size: 23px;
}
 
.fundo {
    background-color: #06C1D6;
    height: 403px;
    padding: 10px;
}
 
.container-sm {
    background-color: #d9d9d9;
    margin-top: 38px;
    border-radius: 31px;
}
 

 
#alertaSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
#alertaErro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#sexo, #dataNascimento, #racaSelect, #especieSelect, #pelagemSelect, #porteSelect {
    color: #495057;
}



#botaoEnviar {
    margin-left: -5rem;
}

.linksNav{
    text-decoration: underline;
}
 
.alignNgmEnd{
    margin-left: 650px;
    width: 300px;
}

.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}

textarea {
    width: 100%;
    height: 120%;
    border-radius: 10px;
    padding: 10px;
}
 
.alert-success {
    background-color: #d4edda; /* Cor de fundo */
    color: #155724; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Margem inferior */
}

.btn-custom-enviar {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    border: none;
}

.btn-custom {
    background-color: #fff;
    color: #06C1D6;
    margin: 2% 0; /* Ajuste a margem superior e inferior */
    margin-left: auto; /* Empurra o botão para a direita */
    margin-right: 2%; /* Remove qualquer margem à direita */
    display: block; /* Garante que o botão seja exibido como um bloco */
    transition: .9s;
}
.btn-custom:hover{
    padding: 8px;

}

.animal-card {
    border: 1px solid #008A33;
    padding: 10px;
    margin: 10px;
    background-color: #008A33;
    width: 344px;
    height: 410px;
    float: left;
    color: white;
}

.custom-file-input {
    width: 100%;
    height: 38px;
    margin-top: 8px;
}

.custom-file-label {
    border-radius: 5px;
}
 
.btn-edit {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 8px 40px;
    font-size: 16px;
    width: 100%;
    border: none;
}
 
.animal-card img {
    width: 100%;
    height: 75%;
    border-radius: 31px;
}

