* {
    font-family: sans-serif;
}

#animalNome {
    align-items: center;
    justify-items: center;
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 3px;
    font-size: 32px;
    color: #333;
    background-color: #d9d9d9;
    width: 200px; /* Defina a largura desejada */
    display: inline-block;
}

#animalP {
    font-size: 30px;
}

.my-3:hover {
    border-color: #999;
}

.my-3:focus {
    border-color: #555;
    outline: none; /* Remove a borda ao focar */
}

/* Se desejar, ajuste os estilos para a versão readonly */
.my-3[readonly] {
    background-color: #eee;
    border-color: #ddd;
}
 
.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}
 
.logo {
    padding-top: 10px;
   padding-bottom: 10px;
    width: 10%;
   
   /* top:5%; */
}

 
.nav-item {
    margin-right: 40px;
    font-size: 23px;
}
 
.btn {
    align-items: center;
}
 
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}
 
.form-control {
    background-color: #d9d9d9;
    color: #464646;
    border-color: #8E8C8C;
    border-width: 5px;
    border-radius: 31px;
}

.form {
    margin-right: 20px;
}
 
.form h2 {
    margin-bottom: 10px;
}
 
.text {
    text-align: center;
}
 
/* Estilos para o rodapé */
.rodape {
    background-color: #ccc; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
}
 
.rodape .container {
    display: flex;
    justify-content: space-between; /* Alinha os itens no início e no final do rodapé */
    align-items: center; /* Alinha os itens verticalmente */
}
 
.rodape .texto-centralizado {
    text-align: center; /* Centraliza o texto */
    font-size: 15px;
}
 
.rodape .redes-sociais {
    display: flex; /* Utiliza flexbox para alinhar os ícones das redes sociais */
    justify-content: flex-end;
    margin-left:1250px; /* Adiciona margem entre os ícones, se necessário */
    align-items: center;
}
 
.rodape .redes-sociais a {
    margin-right: 10px; /* Adiciona margem entre os ícones */
}
 
.rodape .meus-icons {
    display: flex; /* Utiliza flexbox para alinhar os seus ícones */
    align-items: center;
    margin-right: 1280px;
    margin-left: 100px;
}
 
.iconeFooter{
    transform: translate(-1300px, 0%);
}
 
#alertaSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
#alertaErro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
.linksNav{
    text-decoration: underline;
}
 
.alignNgmEnd{
    margin-left: 650px;
    width: 300px;
}
 
/* POP UP ANIMAIS */
.modal-content {
    background-color: #8E8C8C;
    color: #fff;
    border-radius: 31px;
}
 
.modal-body {
    padding: 0;
}
 
.modal-body .row {
    display: flex;
    height: 100%;
}
 
.modal-body .col-md-6 {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}
 
.modal-body img {
    width: 100%;
    display: block;
    border-radius: 31px;
}
 
.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}
 
.btn-adotar:hover {
    background-color: #e0e0e0;
    color: #06C1D6;
}
/* POP UP USUARIO */
.btn-logout {
    background-color: #06C1D6;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 31px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    align-self: flex-start;
}

 


.fundoFormularioDeInteresse >.text-center {
    color: white;
    font-size: 35px;
    padding-top: 38px;
    border: 1px;
}



.fundoFormularioDeInteresse {
    background-color: #06C1D6;
    height: 403px;
}


/* Modal de confirmação de saída */
.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
 
.modal.fade.show {
    display: block;
}
 
.modal-content {
    border-radius: 10px;
}
 
.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
 
.modal-body {
    padding: 20px;
}
 
.modal-footer {
    padding: 20px;
    border-top: 1px solid #ccc;
}
 
.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}
 
.menu-icon{
    width: 23px;
}
 
.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}
 
.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}
 
.logo {
    padding-top: 10px;
   padding-bottom: 10px;
    width: 120%;
   /* top:5%; */
}

 
#adocao {
    color: #06C1D6;
    font-size: 27px;
}
 
.nav-item {
    margin-right: 40px;
    font-size: 23px;
}
 
.btn {
    align-items: center;
}
 
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}
 
.caixa {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
    border: 20px solid #ccc;
    width: 80%;
    background-color: #ccc;
}
 
.caixa img {
    flex: 0 0 auto;
    margin-left: 0px;
    border-radius: 16px;
    width: 20px;
}
 
.textSobre{
    text-align: center;
    margin: auto;
}
 
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.container h1{
    text-align: center;
}
 
 
.form-control {
    background-color: #d9d9d9;
    color: #464646;
    border-color: #8E8C8C;
    border-width: 5px;
    border-radius: 31px;
}

.row > .col-9 > .btn {
    background-color: #06C1D6;
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

#btnVoltar {
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

.form {
    margin-right: 20px;
}
 
.form h2 {
    margin-bottom: 10px;
}

.modal-content {
    background-color: #8E8C8C;
    color: #fff;
    border-radius: 31px;
}
 
.modal-body {
    padding: 0;
}
 
.modal-body .row {
    display: flex;
    height: 100%;
}
 
.modal-body .col-md-6 {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}
 
.modal-body img {
    width: 400px;
    height: 500px;
    display: block;
    border-radius: 31px;
}
 
.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}
 
.fundoFormularioDeInteresse > .container {
    background-color: #d9d9d9;
    height: 210%;
    width: 1147px;
    margin-top: 38px;
    border-radius: 31px;
}
 
/* Modal de confirmação de saída */
.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
 
.modal.fade.show {
    display: block;
}
 
.modal-content {
    border-radius: 10px;
}
 
.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
 
.modal-body {
    padding: 20px;
}
 
.modal-footer {
    padding: 20px;
    border-top: 1px solid #ccc;
}
 
/* Estilos para o alerta de sucesso */
.alert-success {
    background-color: #d4edda; /* Cor de fundo */
    color: #155724; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Margem inferior */
}