body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.animal-image {
    flex: 1;
    max-width: 350px;
}

.animal-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.animal-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animal-details p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
}

.ong-details {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ong-details h2 {
    margin-top: 0;
    font-size: 18px;
}

.ong-details p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-body {
    font-size: 16px;
}