.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}

.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}
 

.menu-icon{
    width: 23px;
}
 
.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}
 
.logo {
    padding-top: 10px;
   padding-bottom: 10px;
    width: 120%;
   
   /* top:5%; */
}
 
#adocao {
    color: #06C1D6;
    font-size: 27px;
}
.avatar-container {
    margin-bottom: 20px;
}

.avatar-img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    margin-top: 16px;
}

.nav-item {
    margin-right: 40px;
    font-size: 23px;
}

.container {
    display: flex;
    flex-direction: column;
}

.fundoLogin {
    background-color: #06C1D6;
    height: 402px;
    text-align: center;
    padding-top: 100px; /* Adiciona espaço acima do container */
    padding-bottom: 50px; /* Adiciona espaço abaixo do container */
    margin-top: -50px; /* Move o fundo para cima para cobrir a lacuna */
}

.fundoLogin h1{
    color: #fff;
}
 
.fundoLogin > .container {
    background-color: #d9d9d9;
    height: auto; /* Alterando para altura automática */
    width: 45%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 38px;
    margin-bottom: 38px; /* Adicionando margem inferior para evitar sobreposição */
}

.container > h3{
    padding: 0;
    text-align: center;
}

img {
    margin: 0 auto;
    background-color: transparent;
}

.form-control {
    color: #464646;
    border-radius: 5px;
    margin-bottom: 15px;
}
 
.form h2 {
    margin-bottom: 10px;
}
 
.btn {
    background-color: #06C1D6;
    color: white;
    border-radius: 5px;
    width: 90%;
    font-weight: 700;
    margin-bottom: 10px;
}
 

/* Estilos para o popup de opções de perfil e logout */
#profile-popup {
    position: fixed;
    bottom: 55px;
    /* Ajuste a distância vertical do popup conforme necessário */
    right: 20px;
    z-index: 999;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#profile-popup a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
}

#profile-popup a:hover {
    background-color: #ddd;
}

#alertaSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
#alertaErro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 