
* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    
}
.fundo {
    background-color: #06C1D6;
    height: 403px;
}

.fundo>.container {
    background-color: #d9d9d9;
    height: 500px;
    width: 1147px;
    margin-top: 38px;
    border-radius: 31px;
    text-align: center;
    font-size: 24px;
}
 
.fundo>.text-center {
    color: white;
    font-size: 35px;
    padding-top: 20px;
    border: 1px;
}

.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}
 
.logo {
    padding-top: 10px;
   padding-bottom: 10px;
    width: 120%;
   
   /* top:5%; */
}

.back-button {
    text-decoration: none;
    color: #fff; /* Cor do texto */
    padding: 20px 30px; /* Espaçamento */
    font-size: 30px; /* Tamanho da fonte */
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Alinhar verticalmente */
}

.back-icon {
    width: 30px; /* Largura do ícone */
    height: auto; /* Manter proporção */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}


#adocao {
    color: #06C1D6;
    font-size: 27px;
}
.avatar-container {
    margin-bottom: 20px;
}

.avatar-img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    margin-top: 16px;
   
}

.nav-item {
    margin-right: 40px;
    font-size: 23px;
}

#editar-perfil-btn  {
  
    background-color: #06C1D6;
    color: white;
    border-radius: 31px;
    width: 110%;
    height: 50px;
    font-size: 20px;
    margin-left: 90%;
}
#voltar-perfil-btn {
    background-color: #d60606;
    color: white;
    border-radius: 31px;
    width: 50%;
    height: 45px;
    font-size: 20px;
    margin-left: -180%;
}