* {
    font-family: sans-serif;
}

.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}

.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}

.alignNgmEnd{
    margin-left: 650px;
    width: 300px;
}
.modal-corpo{
    padding: 10px;
    font-size: 16px;
}
.modal-corpo img{
    margin-bottom: 10px;
}
.info a{
    display: block;
    color: #000;
}
.info img{
    width: 35px;
    height: 35px;
}

.modal-content {
    background-color: #8E8C8C;
    color: #fff;
    border-radius: 31px;
}
 
.modal-body {
    padding: 0;
}
 
.modal-body .row {
    display: flex;
    height: 100%;
}
 
.modal-body .col-md-6 {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}
 
 
.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}

.menu-icon{
    width: 23px;
}
 
.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
 
.container h1{
    text-align: center;
}

#adocao {
    color: #06C1D6;
    font-size: 27px;
}

.logo {
    padding-top: 20px;
    width: 330px;
}
 
.nav-item {
    margin-right: 40px;
    font-size: 23px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.caixa {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
    border: 20px solid #ccc;
    width: 80%;
    background-color: #ccc;
}
 
.caixa img {
    flex: 0 0 auto;
    margin-left: 0px;
    border-radius: 16px;
    width: 280px;
}
 
.textSobre{
    text-align: center;
    margin: auto;
}
 
.text {
    transform: translate(0%, -10%);
    text-align: center;
    color: #000;
}
 
 
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.container h1{
    text-align: center;
}
 
.card-text {
    margin-top: 50px;
}
 
.linkedin-link {
    transform: translate(40%, 0%);
    bottom: -25px;
    font-size: 22px;
}
 
#img-linkedin {
    width: 50px;
    height: auto;
}

.rodape {
    background-color: #ccc; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
}
 
.rodape .container {
    display: flex;
    justify-content: space-between; /* Alinha os itens no início e no final do rodapé */
    align-items: center; /* Alinha os itens verticalmente */
}
 
.rodape .texto-centralizado {
    text-align: center; /* Centraliza o texto */
    font-size: 15px;
}
 
.rodape .redes-sociais {
    display: flex; /* Utiliza flexbox para alinhar os ícones das redes sociais */
    justify-content: flex-end;
    margin-left:1250px; /* Adiciona margem entre os ícones, se necessário */
    align-items: center;
}
 
.rodape .redes-sociais a {
    margin-right: 10px; /* Adiciona margem entre os ícones */
}
 
.rodape .meus-icons {
    display: flex; /* Utiliza flexbox para alinhar os seus ícones */
    align-items: center;
    margin-right: 1280px;
    margin-left: 100px;
}

.iconeFooter{
    transform: translate(-1300px, 0%);
}
 /* Modal de confirmação de saída */
.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
 
.modal.fade.show {
    display: block;
}
 
.modal-content {
    border-radius: 10px;
}
 
.modal-body {
    padding: 20px;
}
 
.btn-secondary {
    background: #ccc;
    color: #000;
}
 
.btn-primary {
    background: #008A33;
    color: #fff;
}
 
.btn-primary:hover {
    background: #006620;
}
 
.btn-close {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
}
 
.btn-close:hover {
    color: #000;
}
