* {
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

#lista-animais {
    display: flex;
    justify-content: center;
    /* Centraliza os cards horizontalmente */
}

.animal-card {
    border: 1px solid #008A33;
    padding: 10px;
    margin: 10px;
    /* Adicionei uma margem aqui para dar espaçamento entre os cards */
    background-color: #008A33;
    width: 344px;
    height: 410px;
    color: white;
}

.animal-card img {
    width: 100%;
    height: 75%;
    border-radius: 31px;
}

.btn-edit {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 40px;
    font-size: 16x;
    width: 100%;
    border: none;
}

.btn-vertodos {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: 16x;
    width: 20%;
    border: none;
}

.btn-adocao {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 40px;
    font-size: 16px;
    width: 100%;
    border: none;
}

/* Estilos para a navbar */
.navbar {

    background-color: #008A33;
    height: 94px;
    font-weight: bold;
    position: relative;
}

@media (max-width: 767px) {
    .logo {
        width: 50%;
        /* Reduz a largura da logo para dispositivos móveis */
        /* padding: 10px; /* Reduz o padding para economizar espaço */
        transform: translateY(-20%);
    }

    .navbar-title {
        display: none;

    }
}

/* Estilos para o título */
.navbar-title {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    left: 100px;
    color: #fff;
}

/* Estilos para os itens da navbar */
.nav-item {
    margin-right: 20px;
    font-size: 18px;
}

.nav-link:hover {
    color: #06C1D6;
}

.titulo {
    width: 270px;
    height: 310px;
}

.card {
    background-color: #d9d9d9;
    width: 18rem;
    border-radius: 31px;
}

.card .card-title {
    font-weight: bold;
}

.card .btn {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
}

.card img {
    border-radius: 31px;
}

.card a {
    border-radius: 31px;
}

.btn {
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    text-align: center;
}

.left-panel,
.right-panel {
    width: 50%;
    height: fit-content;
    /* Altura se ajusta ao conteúdo */
}

.left-panel {
    margin-right: 15px;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
}

.right-panel {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.comment-box textarea {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    /* Impede o redimensionamento da caixa de texto */
}

.comment-box button {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 40px;
    font-size: 16x;
    width: 100%;
    border: none;
}

.rating {
    margin-top: 20px;
}

.stars {
    font-size: 24px;
    margin-bottom: 10px;
}

.star {
    cursor: pointer;
}

.selected {
    color: hsl(39, 100%, 50%);
}

.average-rating {
    margin-top: 20px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f935;
    border-radius: 5px;
}

.right-panel button {
    display: block;
    margin-top: 10px;
    background-color: #06c1d6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#comments {
    max-height: 200px;
    /* Defina a altura máxima desejada para a lista de comentários */
    overflow-y: auto;
    /* Habilita a rolagem vertical quando necessário */
}

.stars .filled {
    color: hsl(39, 100%, 50%);
}

/* Modal de confirmação de saída */
.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal.fade.show {
    display: block;
}

.modal-content {
    border-radius: 10px;
    width: 45rem;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: 20px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 10px;


}

.modal-footer {
    padding: 20px;
    border-top: 1px solid #cccccc;
}

.btn-secondary {
    background: #ccc;
    color: #000;
}

.btn-primary {
    background: #008A33;
    color: #fff;
}

.btn-primary:hover {
    background: #006620;
}

.btn-close {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
}

.close {
    font-size: 24px;
    /* Aumenta o tamanho do "X" */
    font-weight: bold;
    /* Torna o "X" em negrito */
    position: absolute;
    /* Posiciona o "X" no canto */
    right: 15px;
    /* Distância do lado direito */
    top: 15px;
    /* Distância do topo */
    color: #000;
    /* Cor do "X" */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
}

/* Estilos para o alerta de sucesso */
.alert-success {
    background-color: #d4edda;
    /* Cor de fundo */
    color: #155724;
    /* Cor do texto */
    border: 1px solid #c3e6cb;
    /* Borda */
    padding: 10px 15px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    margin-bottom: 20px;
    /* Margem inferior */
}

.btn-adocao {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 8px 40px;
    font-size: 16px;
    width: 100%;
    border: none;
}

.imgHome {
    width: 100%;
    /* height: 900px; */
    margin-bottom: 20px;
}

.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
    margin-right: 20px;
}

.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}

.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}

.logo {
    justify-content: center;
    width: 50%;
}

.centralizado {
    text-align: center;
    margin-top: 0;
    color: #008A33;
}



#adocao {
    color: #06C1D6;
    font-size: 27px;
}

.nav-item {
    margin-right: 40px;
    font-size: 23px;
}

.card {
    background-color: #d9d9d9;
    width: 18rem;
    border-radius: 31px;
}

.card .card-title {
    font-weight: bold;
}

.card .btn {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
}

.card img {
    border-radius: 31px;
}

.card a {
    border-radius: 31px;
}

.btn {
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.caixa {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
    border: 20px solid #ccc;
    width: 80%;
    background-color: #ccc;
}

.caixa img {
    flex: 0 0 auto;
    margin-left: 0px;
    border-radius: 16px;
    width: 280px;
}

.textSobre {
    text-align: center;
    margin: auto;
}


.text {
    transform: translate(0%, -10%);
    text-align: center;
    color: #000;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    text-align: center;
}

.card-text {
    margin-top: 50px;
}

.linkedin-link {
    transform: translate(40%, 0%);
    bottom: -25px;
    font-size: 22px;
}

#img-linkedin {
    width: 50px;
    height: auto;
}

.links-right {
    margin-top: 20px;
    /* Adicione espaço acima dos links */
}

.signup-link,
.forgot-password-link {
    background-color: #06C1D6;
    /* Cor de fundo para os links */
    padding: 5px 10px;
    /* Espaçamento interno dos links */
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

.signup-link:hover,
.forgot-password-link:hover {
    background-color: white;
    /* Cor de fundo quando o mouse passar por cima */
    color: #06C1D6;
}

.form-control {
    background-color: #d9d9d9;
    color: #464646;
    border-color: #8E8C8C;
    border-width: 5px;
    border-radius: 31px;
}

.btn>.col>.btn {
    background-color: #06C1D6;
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

.row>.col-9>.btn {
    background-color: #06C1D6;
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

#btnVoltar {
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

.form {
    margin-right: 20px;
}

.form h2 {
    margin-bottom: 10px;
}

.text {
    text-align: center;
}

.containerAlign {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 10px 0;
}

.containerAvaliacao {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.left-panel,
.right-panel {
    width: 50%;
    height: fit-content;
    /* Altura se ajusta ao conteúdo */
}

.left-panel {
    margin-right: 15px;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
}

.right-panel {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.comment-box textarea {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    /* Impede o redimensionamento da caixa de texto */
}

.rating {
    margin-top: 20px;
}

.star {
    cursor: pointer;
}

.selected {
    color: hsl(39, 100%, 50%);
}

.average-rating {
    margin-top: 20px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f935;
    border-radius: 5px;
}

.right-panel button {
    display: block;
    margin-top: 10px;
    background-color: #06c1d6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#comments {
    max-height: 200px;
    /* Defina a altura máxima desejada para a lista de comentários */
    overflow-y: auto;
    /* Habilita a rolagem vertical quando necessário */
}

/* Oculta estrelas vazias */
.stars .empty {
    display: none;
}

.rodape {
    background-color: #ccc;
    /* Cor de fundo cinza */
    padding: 20px;
    /* Espaçamento interno */
}

.rodape .container {
    display: flex;
    justify-content: space-between;
    /* Alinha os itens no início e no final do rodapé */
    align-items: center;
    /* Alinha os itens verticalmente */
}

.rodape .texto-centralizado {
    text-align: center;
    /* Centraliza o texto */
    font-size: 15px;
}

.rodape .redes-sociais {
    display: flex;
    /* Utiliza flexbox para alinhar os ícones das redes sociais */
    justify-content: flex-end;
    /* Posiciona os ícones à direita */
    align-items: center;
    margin-left: 0;
    /* Remover a margem excessiva */
}

.rodape .redes-sociais a {
    margin-right: 10px;
    /* Adiciona margem entre os ícones */
}

.rodape .meus-icons {
    display: flex;
    /* Utiliza flexbox para alinhar os seus ícones */
    align-items: center;
    margin-right: 0;
    /* Remover a margem excessiva */
    margin-left: 0;
    /* Remover a margem excessiva */
}

.iconeFooter {
    /* Remover transform para manter a imagem no lugar */
    transform: none;
    margin-right: 10px;
    /* Se necessário, ajustar o espaçamento */
}


#alertaSucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#alertaErro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.linksNav {
    text-decoration: underline;
}

.alignNgmEnd {
    margin-left: 650px;
    width: 300px;
}

.modal-content {
    border-radius: 10px;
    width: 45rem;
}


.modal-body {
    padding: 20px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 10px;

}

.modal-body #modal-nome {
    font-size: 25px;
}

.modal-body .row {
    display: flex;
    height: 100%;
}

.modal-body .col-md-6 {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
}

.modal-body img {
    width: 400px;

    display: block;
    border-radius: 31px;
}

.modal-body .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: star;
}

.btn-adotar {
    background-color: #06C1D6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 31px;
    cursor: pointer;
    align-self: flex-start;
}

.btn-adotar:hover {
    background-color: #e0e0e0;
    color: #06C1D6;
}

.btn-logout {
    background-color: #06C1D6;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 31px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    align-self: flex-start;
}

.modal.fade {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal.fade.show {
    display: block;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 20px;
    border-top: 1px solid #ccc;
}

.btn-secondary {
    background: #ccc;
    color: #000;
}

.btn-primary {
    background: #008A33;
    color: #fff;
}

.btn-primary:hover {
    background: #006620;
}

.btn-close {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
}

.btn-close:hover {
    color: #000;
}

.alert-success {
    background-color: #d4edda;
    /* Cor de fundo */
    color: #155724;
    /* Cor do texto */
    border: 1px solid #c3e6cb;
    /* Borda */
    padding: 10px 15px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    margin-bottom: 20px;
    /* Margem inferior */
}

/* Botão do dropdown */
.dropbtn {
    background-color: #008A33;
    color: white;
    padding: 9px;
    font-size: 23px;
    font-weight: bold;
    border: none;
}

/* O container <div> - necessário para posicionar o conteúdo do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Conteúdo do Dropdown (escondido por padrão) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

/* Links dentro do dropdown */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Estilo do link quando o mouse está em cima */
.dropdown-menu a:hover {
    background-color: #ddd;
}

/* Muda a cor do botão dropdown quando o mouse está em cima */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Mostra o dropdown ao passar o mouse por cima do botão */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Esconde os outros dropdowns quando um novo for selecionado */
.dropdown-menu:hover,
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Exemplo para dois dropdowns */
#dropdown1:hover+#dropdown2 .dropdown-menu,
#dropdown2:hover+#dropdown1 .dropdown-menu {
    display: none;
}