* {
    font-family: sans-serif;
}

.btn.btn-custom {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
    border-radius: 31px;
    padding: 2px 40px;
    font-size: 16px;
    border: none;
}

.btn.btn-custom:hover {
    background-color: #06C1D6;
    color: #fff;
}

.navbar {
    background-color: #008A33;
    height: 94px;
    font-weight: bold;
}

.logo {
    padding-top: 20px;
    width: 330px;
}

#adocao {
    color: #06C1D6;
    font-size: 27px;
}

.nav-item {
    margin-right: 40px;
    font-size: 23px;
}

.card {
    background-color: #d9d9d9;
    width: 18rem;
    border-radius: 31px;
}

.card .card-title {
    font-weight: bold;
}

.card .btn {
    background-color: #06C1D6;
    color: #fff;
    font-weight: bold;
}

.card img {
    border-radius: 31px;
}

.card a {
    border-radius: 31px;
}

.btn {
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.caixa {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
    border: 20px solid #ccc;
    width: 80%;
    background-color: #ccc;


}

.caixa img {
    flex: 0 0 auto;
    margin-left: 0px;
    border-radius: 16px;
    width: 280px;

}


.texto {

    position: absolute;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    z-index: 1;
    margin-top: 300px;
    font-size: 30px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerEstrela p {
    margin-top: 0;
}

.card-text {
    margin-top: 25px;
}

.linkedin-link {
    position: fixed;
    bottom: -25px;
    right: -150px;
    font-size: 22px;
}

#img-linkedin {
    width: 50px;
    height: auto;
}


.fundo {
    background-color: #06C1D6;
    height: 403px;
}

.fundo>.container {
    background-color: #d9d9d9;
    height: 827px;
    width: 1147px;
    margin-top: 38px;
    border-radius: 31px;
}

.fundo>.text-center {
    color: white;
    font-size: 35px;
    padding-top: 38px;
    border: 1px;
}

.form-control {
    background-color: #d9d9d9;
    color: #464646;
    border-color: #8E8C8C;
    border-width: 5px;
    border-radius: 31px;
}

.btn>.col>.btn {
    background-color: #06C1D6;
    color: white;
    border-radius: 31px;
    width: 100%;
    height: 55px;
    font-size: 30px;
}

.form {
    margin-right: 20px;
}

.form h2 {
    margin-bottom: 10px;
}

/* Estilização adicional */
.rating {
    unicode-bidi: bidi-override;
    direction: ltr;
}

.rating>span {
    display: inline-block;
    position: relative;
    font-size: 28px;
    /* Tamanho da estrela */
    cursor: pointer;
}

.feedback-textarea {
    resize: vertical;
    /* Permite a redimensionamento vertical */
}

/* Estilos adicionais para destacar a avaliação selecionada */
.selected-rating {
    color: orange;
}

/* Estilos adicionais para os comentários */
.feedback-item {
    margin-bottom: 10px;
}

#average-rating {
    font-weight: bold;
}

/* Estilos para alinhar o botão e os comentários */
.flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    /* Defina o valor desejado para a largura máxima */
}

/* Estilos para alinhar os comentários à esquerda */
.feedback-display {
    max-width: 600px;
    /* Defina o mesmo valor da largura máxima da div acima */
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para o alerta de erro */
#alertaErro {
    padding: 15px;
    background-color: #f44336;
    /* Cor de fundo vermelha para indicar erro */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}

#alertaErro .fechar {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

#alertaErro .fechar:hover {
    color: white;
}

#alertaErro .esconder {
    display: none;
}